@import "tailwindcss";

@theme {
  --color-blue-50: #f4f7fa;
  --color-blue-100: #e0e8f2;
  --color-blue-400: #3b506c;
  --color-blue-500: #1e304b;
  --color-blue-600: #121e31;
  --color-blue-700: #0c1524;
  --color-blue-900: #050a12;
}
